In [3]:
# Random Forest Classification         , 
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
df= read_csv("E:\\materials\\Assignment\\Assignment15\\Fraud_check.csv")

In [5]:
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [6]:
df = pd.get_dummies(df, columns =['Undergrad','Marital.Status','Urban'])

In [7]:
df.head()

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,68833,50047,10,1,0,0,0,1,0,1
1,33700,134075,18,0,1,1,0,0,0,1
2,36925,160205,30,1,0,0,1,0,0,1
3,50190,193264,15,0,1,0,0,1,0,1
4,81002,27533,28,1,0,0,1,0,1,0

In [8]:
df['TaxableIncome']='good'
df.loc[df['Taxable.Income'] <= 30000,'TaxableIncome'] = "risk"
df.drop(['Taxable.Income'], axis=1,inplace = True)

In [9]:
array = df.values

In [10]:
df.head()

,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,TaxableIncome
0,50047,10,1,0,0,0,1,0,1,good
1,134075,18,0,1,1,0,0,0,1,good
2,160205,30,1,0,0,1,0,0,1,good
3,193264,15,0,1,0,0,1,0,1,good
4,27533,28,1,0,0,1,0,1,0,good

In [11]:
x = array[:,0:9]
y = array[:,9]

In [12]:
# spliting
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [13]:
# Applying RF
num_trees = 100
max_features = 3   
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
model.fit(x_train,y_train)
pred = model.predict(x_test)
results = cross_val_score(model, x,y, cv=kfold)

print(results.mean())
confusion_matrix(y_test, pred)

0.7266666666666667

array([[126,  11],
       [ 42,   1]], dtype=int64)

In [14]:
results

array([0.71666667, 0.71666667, 0.66666667, 0.65      , 0.73333333,
       0.65      , 0.86666667, 0.7       , 0.75      , 0.81666667])

In [15]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

In [16]:
#prediction
pred = model.predict(x_test)

In [17]:
pred

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'risk',
       'good', 'good', 'good', 'good', 'risk', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'risk', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'risk', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'risk', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good'], dtype=object)

#### create dataframe actual and prediction

In [18]:
data = pd.DataFrame({ "actual":y_test,"prediction":pred})

In [19]:
data

    actual prediction
0     risk       good
1     good       good
2     good       good
3     good       good
4     good       good
..     ...        ...
175   good       good
176   good       good
177   good       good
178   good       good
179   good       good

[180 rows x 2 columns]

In [20]:
 df1 = df.columns
df1

Index(['City.Population', 'Work.Experience', 'Undergrad_NO', 'Undergrad_YES',
       'Marital.Status_Divorced', 'Marital.Status_Married',
       'Marital.Status_Single', 'Urban_NO', 'Urban_YES', 'TaxableIncome'],
      dtype='object')

In [21]:
df1 = df1.drop(['TaxableIncome'])

In [22]:
feature = model.feature_importances_

In [24]:
data = pd.DataFrame({'columns':df1,"importances":feature})
data.sort_values("importances",ascending = False)

                   columns  importances
0          City.Population     0.524746
1          Work.Experience     0.336483
5   Marital.Status_Married     0.025793
4  Marital.Status_Divorced     0.021246
6    Marital.Status_Single     0.019999
7                 Urban_NO     0.018751
8                Urban_YES     0.018451
2             Undergrad_NO     0.017289
3            Undergrad_YES     0.017242

In [ ]:
 # City.Population have high importance